#formulario{
    display: none;
}

th:nth-child(1), td:nth-child(1) {
    width: 70%; 
    word-wrap: break-word; 
}

th:nth-child(2), td:nth-child(2) {
    width: 30%; 
    text-align: center; 
}
